*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.square{
    width: 20px;
    height: 20px;
    background-color: #999;

}
