.menu {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.header__inner {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.logo p {
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 900;
}

.logoImage {
  width: 40px;
  height: 40px;
}

.logoImage img {
  width: 100%;
}

.header__inner ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__inner ul li a {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  line-height: 25px;
  text-decoration: none;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.actions a {
  padding: 12px 16px;
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  line-height: 13px;
  text-decoration: none;
}

.actions a:hover {
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  border-radius: 3px;
  background: #06F;
}

.actions .active {
  padding: 12px 16px;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  border-radius: 3px;
  background: #06F;
}